.custom-file {
  position: relative;

  &-input {
    visibility: hidden;
    opacity: 0;
  }

  &-label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: solid 1px #e6ecf5;
    &::after {
      opacity: 0;
    }

    img {
      width: 40px;
    }

    span {
      color: #c0c5d2;
    }
  }

  .is-invalid {
    border-color: red !important;
  }
}
